
<div class="row-section">
    <div class="col morph50">
        <div class="groupbox">
            <div class="col header-label lineheight">
                Sailing Speeds
            </div>

            <div class="row-section">
                <div class="col two lineheight">
                    Gegenwind   
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>  
        
            <div class="row-section">
                <div class="col two lineheight">
                    Mit rauem Wind
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>  
            <div class="row-section">
                <div class="col two lineheight">
                    Vor dem Wind 
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>
            <div class="row-section">
                <div class="col two lineheight">
                Am Wind
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>
        </div>
    </div>

    <div class="col morph50">
        <div class="groupbox">
            <div class="col header-label lineheight">
                Rowing Speeds
            </div>

            <div class="row-section">
                <div class="col two lineheight">
                    Marschgeschwindigkeit
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>  
            <div class="row-section">
                <div class="col two lineheight">
                    Rammgeschwindigkeit
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>
            <div class="row-section">
                <div class="col two lineheight">
                    Rueckgeschwindigkeit
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>
            <div class="row-section">
                <div class="col two lineheight">
                   Mobility
                </div> 
                <div class="col eight center">
                    <input type="number" value="4">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
 Rumpf
- Geschwindigkeit, gesegelt
    - Vor dem Wind 
    - mit Raumem Wind
    - Am Wind 
    - Gegenwind
- Geschwindigkeit, gerudert
    - Marschgeschwindigkeit,
    - Rammgeschwindigkeit
    - Rückwärtsfahrt.
    - Beweglichkeit

- Metatalent Gefechtskommandant
    - Talenprobe auf (MU/IN/CH)
    - Talentwert = (Orientierung+Kriegskunst(Seegefechte)+Boote&Schiffe(Kampfmanöver)) / 3
-->