<!-- 
 Rumpf
- Geschwindigkeit, gesegelt
    - Vor dem Wind 
    - mit Raumem Wind
    - Am Wind 
    - Gegenwind
- Geschwindigkeit, gerudert
    - Marschgeschwindigkeit,
    - Rammgeschwindigkeit
    - Rückwärtsfahrt.
    - Beweglichkeit

- Metatalent Gefechtskommandant
    - Talenprobe auf (MU/IN/CH)
    - Talentwert = (Orientierung+Kriegskunst(Seegefechte)+Boote&Schiffe(Kampfmanöver)) / 3
-->
<div class="groupbox">
    <div class="col header-label lineheight">
        Speeds
    </div>
    <div class="row-section">
    </div>
</div>

