

<div class="range-weapons groupbox">
    {{#each ship.weapons as |weapons|}}
    <div class="row-section table-title lineheight" >
        <div class="title-type col thirtyfive">
            <b>{{@key}}</b>
        </div>
        <div class="col five center small onlyMultiColumn">
            Reichweite
        </div>

        <div class="col ten center small" data-tooltip="CHAR.ATTACK">
            Rumpfschaden
        </div>
        <div class="col ten center small" data-tooltip="damage">
            Takelageschaden
        </div>
        <div class="col five center small max20">
            Anmerkungen
        </div>
        <div class="col zerofive center onlyMultiColumn">

        </div>
    </div>
    <div class="row-section wrap rowtable inventory" targetpos="{{@key}}">
        {{#each weapons as |weapon|}}
        <div class="col row-section">
            <div class="col"><p>{{weapon.name}}</p></div>
            <div class="col"><p>{{weapon.range}}</p></div>
            <div class="col"><p>{{weapon.hullDamage}}/{{weapon.hullBurnDamage}}</p></div>
            <div class="col"><p>{{weapon.rigDamage}}/{{weapon.rigBurnDamage}}</p></div>
            <div class="col"><p>{{weapon.notes}}</p></div>
            <div class="col"><button class="weapon-remove" index="{{@index}}" targettype="button">Remove</button></div>
        </div>
        {{/each}}
        <button class="weapon-add" targetpos="{{@key}}" type="button">Add</button>
    </div>
    {{/each}}
</div>


<div class="row-section">
    <div class="col two lineheight">
        Qualität-Geschützbesatzung   
    </div> 
    <div class="col eight center">
        <input class="gunners_input" type="number" name="ship.crew.gunners" value="{{ship.crew.gunners}}">
    </div>
</div>  
